{% extends "base.html" %}
{% block title %}{{ user.name }}'s bank{% endblock %}
{% block main %}
	{% if overlay %}
		<div class="overlay"></div>
   	{% endif %}


	<h1>Welcome back, {{ user.name }}!</h1>
	{% include "include/profile-top.html" %}
	{% include "include/zombo.html" %}
	<div class="user-pages">
		<div class="user-page user-page-1">
			<div class="box user-page-box-left select-account-area">
				<h2>Transaction History for {{ account.name }}</h2>

				<div class="account" style="border: 0px; padding-left: 0px">
					<p style="font-weight: bold; text-align: center">Date</p>
					<p style="font-weight: bold; text-align: center">Name</p>
					<p style="font-weight: bold; text-align: center">Type</p>
					<p style="font-weight: bold; text-align: center">Amount</p>
				</div>
				{% if account_transactions %}
					{% for i in account_transactions %}
						<div class="account">
							<p class="text-align: left">{{ i.created.strftime("%b %e, %Y %I:%M%p") }}</p>
							<p class="text-align: left">{{ i.name }}</p>
							<p class="text-align: left">{{ i.transaction_type }}</p>
							<p class="text-align: left">${{ i.amount }}</p>
						</div>
					{% endfor %}
				{% else %}
					<p>This account has no transactions</p>
				{% endif %}
			</div>
		</div>

		<div class="user-page user-page-2">
			<div class="box user-page-box-right">
				<h2>Recent Transactions</h2>
				<h2>Announcements</h2>
				<div class="announcements">
					<p class="announcement"><span class="date"><b>Jul 19, 2022 10:36PM:</b> </span>Attention! Our executive branch is closing down soon, you may be eligible for a refund.</p>
					<p class="announcement"><span class="date"><b>Apr 20, 2022 3:50AM:</b> </span>Check out our new Tinder competitor, Hook-up-dog! You can swipe up on those you like and down on those you don't. Wanna hook up? Not much, how about you?</p>
					<p class="announcement"><span class="date"><b>Sep 21, 2021 9:05PM:</b> </span> Have you been sent too much money? Updog bank can now easily refund it to you.</p>
				</div>

				<img src="" id="advertisement" width="256" height="256">
				<div><small>Advertisement</small></div>

				<h2>What Does the Fox Say?</h2>
				<p class="announcement" id="fact"></p>

				<h2>Account Settings</h2>
				<a href="{{ url_for('views.signout') }}" rel="noopener noreferrer"><button class="header-button-outline">Sign Out <i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button></a>
			</div>
		</div>
	</div>
    
	<!-- Cookies popup -->
	<div class="cookie-popup-frame">
		<div class="cookie-popup">
			<img src="{{ url_for('static', filename='img/cookie.svg') }}" alt="cookie image" width="90" height="90">

			<div class="cookie-data-area">
				<div class="cookies-1">
					<div>
						<h1>Attention!</h1>
						<div class="cookie-message">Updog Bank provides cookies in order to give you the best user experience possible. Do you consent?</div>
					</div>
		
					<div class="buttons">
						<button class="header-button cookies-yes">Yes</button>
						<button class="header-button-outline cookies-no">No</button>
					</div>
				</div>

				<div class="cookies-2">
					<h1>Attention!</h1>
					<div class="cookie-message">Okay, please provide a location for us to mail the cookies to:</div>
		
					<input type="text" placeholder="Address" maxlength="200" />
					<button class="header-button cookies-recieve">Recieve Cookies</button>
				</div>

				<div class="cookies-3">
					<h1>Attention!</h1>
					<div class="cookie-message">Your cookies will be sent to you in 1-2 business days.</div>
					<button class="header-button cookies-no">ok</button>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
{% block specificjs %}
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clippy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
	
	{% if settings.randomRefresh %}
		<script src="{{ url_for('static', filename='js/profile_refresh.js') }}"></script>
	{% endif %}
{% endblock  %}
