body header, body .logo, .footer-links, .account, .cookies-1, #welcome, .welcome-swiper, .user-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zombo-com-frame .zombo-com {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes hoverUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-10%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes spin {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 45;
  }
  50% {
    rotate: 90;
  }
  75% {
    rotate: 270;
  }
  100% {
    rotate: 360;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: sora;
  src: url("font/Sora/Sora-VariableFont_wght.ttf");
}
h1, h2, h3, h4, h5, h6 {
  font-weight: light;
  line-height: 50px;
}

a {
  color: #c55d28;
}

.slogan, .subtitle {
  width: 50vw;
}

.slogan {
  font-family: sora;
  font-weight: bold;
  font-size: 56px;
  word-wrap: break-word;
  margin: 50px 0px 25px 0px;
}

.header-text {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}

.section-subtitle {
  font-size: 22px;
  width: 52vw;
  word-wrap: break-word;
  padding-bottom: 10px;
}

.about-title {
  text-align: center;
  padding-bottom: 10px;
  font-size: 26px;
}

.about-subtitle {
  text-align: center;
  font-size: 20px;
  max-width: 500px;
}

.phone {
  margin-right: 10px;
}

.orange {
  color: #c55d28;
  font-size: 34px;
  font-family: sora;
}

.auth-input-label {
  font-size: 22px;
  font-weight: bold;
}

.welcome-title-icon {
  font-size: 128px !important;
  line-height: 0px;
  color: #c55d28;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 100%;
}

.auth-input[type=email], .auth-input[type=password], .auth-input[type=number] {
  margin-bottom: 10px;
  width: 50vw;
  font-size: 18px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  color: #eaeaea;
  font-weight: bold;
}

.message-error {
  background-color: #ff3b34;
}

.message-success {
  background-color: #29e332;
}

.header-button-outline, .header-button {
  padding: 7px 15px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  transition: 150ms ease-in-out;
}

.header-button {
  background-color: #c55d28;
  color: white;
  font-weight: bold;
  border: 0px;
}

.header-button-outline {
  border: 2px solid #c55d28;
  color: #c55d28;
  background: none;
  font-weight: bold;
}

.header-button:hover {
  animation: hoverUp 150ms forwards;
  background-color: #9b3906;
}

.header-button-outline:hover {
  animation: hoverUp 150ms forwards;
  background-color: #c55d28;
  border: 2px solid #9b3906;
  color: #fff;
}

.large-button {
  font-size: 32px;
}

.talk-box {
  display: flex;
  justify-content: left;
  align-items: left;
  z-index: 100;
}

.talk-text {
  background-color: #eaeaea;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.talk-box-img {
  border-radius: 10%;
  margin-right: 10px;
}

.talk-text-area {
  font-size: 14px;
  width: 250px;
  word-break: break-word;
}

.splideBox {
  display: flex;
  min-height: 150px;
  max-height: auto;
  margin-top: 20px;
}

.splideBoxImage {
  border-radius: 7px;
  margin-right: 20px;
}

.splideBoxQuote {
  font-size: 24px;
  font-style: italic;
  text-align: center;
}

.swiper-pagination {
  color: #c55d28;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.about-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  align-items: center;
}

.about-img {
  margin-bottom: 20px;
}

.info-header {
  line-height: 3vh;
  padding-bottom: 10px;
}
.info-header .slogan-subtitle {
  font-size: 24px;
}

.info-box {
  background-color: #eaeaea;
  border-radius: 10px;
  padding: 15px;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}
.info-box h1, .info-box p {
  font-family: monospace;
}
.info-box p {
  font-size: 16px;
}

.user-pages {
  display: flex;
  justify-content: space-evenly;
}

.user-page-box-left {
  min-width: 60vw;
}

.user-page-box-right {
  max-width: 40vw;
}

.user-stats {
  flex-wrap: wrap;
}

.config-pages {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

#welcomeArea {
  display: none;
}

#welcome {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

.welcome-swiper {
  margin-left: 50vw;
}

.welcomeBox {
  min-height: 400px;
  max-height: 1000px;
  margin-left: 25vw;
  margin-right: 25vw;
  justify-content: space-between;
  align-items: center;
}

.welcome-title {
  font-size: 48px;
  text-align: center;
}

.welcome-content {
  font-size: 24px;
  padding-bottom: 25px;
  max-height: 90%;
  word-wrap: break-word;
}

.captcha-area {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.captcha-box {
  margin-left: 25vw;
  margin-right: 25vw;
  margin-top: 5vh;
  animation: fadeIn 500ms ease-in forwards;
}

.captcha-math {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  background-color: #d0d0d0;
  font-weight: bold;
  border-radius: 7px;
}

.captcha-invalid {
  display: none;
}

.cookie-popup-frame {
  display: none;
}

.cookie-popup {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #eaeaea;
  padding: 50px 15px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.cookie-data-area {
  margin-left: 20px;
}

.cookies-2, .cookies-3 {
  display: none;
}

.header-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
  font-size: 16px;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  pointer-events: revert;
}

.popup {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-bottom: 1vh;
  margin-right: 1vw;
}

.logo-header-link {
  color: #000;
  text-decoration: none;
}

.section-1 {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.cards {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: -100;
  margin-left: 60vw;
}

.balloon {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px;
  border: 1px solid gray;
  padding: 15px;
  z-index: 100;
}

.popup-text-area {
  resize: none;
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px;
}

.pageLoad {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.auth-text {
  padding-bottom: 10px;
}

.flex-area {
  display: flex;
  justify-content: space-between;
}

.flex-area-1 {
  margin-left: 25px;
}

.user-stat-item {
  font-weight: bold;
  font-size: 20px;
}

.profile-box {
  background-color: #fff;
  border-radius: 7px;
  padding: 7px 10px;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.announcement {
  padding: 10px;
  margin: 10px 0px;
  background-color: #bcff8b;
  color: #2b6600;
  border: 2px solid #2b6600;
  border-radius: 7px;
}

#advertisement {
  cursor: pointer;
  border: 2px solid #c55d28;
}

.badge {
  animation: hoverUp 2s forwards;
}

.login-right-text {
  max-width: 700px;
}

.notice {
  max-width: 400px;
}

.signOutPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hideSignOut {
  display: none;
}

.swiper-button-next, .swiper-button-prev {
  color: #c55d28 !important;
}

.account {
  border: 2px solid #c55d28;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 7px;
}

.zombo-com-frame {
  display: none;
}
.zombo-com-frame .zombo-com {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.zombo-com-frame .zombo-com .zombo-com-inner .png-wheel-zombo {
  animation: rotate 0.5s infinite linear;
  margin-bottom: 25px;
}
.zombo-com-frame .zombo-com .zombo-com-inner .zombo-text {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sora;
}

body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
body header, body main, body footer {
  padding: 15px 5rem;
}
body header {
  flex-wrap: wrap;
  background-image: linear-gradient(#c0c0c0, #fff);
}
body footer {
  background-color: #eaeaea;
  color: #4e4e4e;
  padding-top: 50px;
  padding-bottom: 50px;
}
body .logo {
  flex-wrap: wrap;
}
body .login-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*# sourceMappingURL=bundle.css.map */
