@use 'params';

@font-face {
    font-family: sora;
    src: url("font/Sora/Sora-VariableFont_wght.ttf");
}

h1, h2, h3, h4, h5, h6 {
    font-weight: light;
    line-height: 50px;
}

a {
	color: params.$primary;
}

.slogan, .subtitle {
    width: 50vw;
}
.slogan {
    font-family: sora;
    font-weight: bold;
    font-size: 56px;
    word-wrap: break-word;
    margin: 50px 0px 25px 0px;
}

.header-text {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}

.section-subtitle {
    font-size: 22px;
    width: 52vw;
    word-wrap: break-word;
    padding-bottom: 10px;
}

.about-title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 26px;
}

.about-subtitle {
    text-align: center;
    font-size: 20px;
    max-width: 500px;
}

.phone {
    margin-right: 10px;
}

.orange {
	color: params.$primary;
	font-size: 34px;
	font-family: sora;
}

.auth-input-label {
	font-size: 22px;
	font-weight: bold;
}

.welcome-title-icon {
    font-size: 128px !important;
    line-height: 0px;
    color: params.$primary;
}