$primary: #c55d28;
$secondary: #9b3906;
$white: #eaeaea;
$redColor: #ff3b34;
$greenColor: #29e332;

%sideBySide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}