@use 'params';

#welcomeArea {
    display: none;
}

#welcome {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 75%);
    @extend %sideBySide;
    text-align: center;
}

.welcome-swiper {
    @extend %sideBySide;
    margin-left: 50vw;
}

.welcomeBox {
    min-height: 400px;
    max-height: 1000px;
    margin-left: 25vw;
    margin-right: 25vw;
    justify-content: space-between;
    align-items: center;
}

.welcome-title {
    font-size: 48px;
    text-align: center;
}

.welcome-content {
    font-size: 24px;
    padding-bottom: 25px;
    max-height: 90%;
    word-wrap: break-word;
}