{% extends "base.html" %}
{% block title %}Forbidden{% endblock %}
{% block main %}
    <div class="box">
        <h1>403 : Forbidden</h1>
        <p>You are not allowed to access this without the proper authentication.</p>
        <a href="{{ url_for('views.index') }}" rel="noopener noreferrer" target="_blank">Back to homepage</a>
    </div>
{% endblock %}
