{% extends "base.html" %}
{% block title %}Not Found{% endblock %}
{% block main %}
	<h1 class="slogan"><span style="color: #c55d28">Who</span> let the dogs out?</h1>
	<p>Sorry, we were unable to find what you were looking for.</p>
	<a href="{{ url_for('views.index') }}" rel="noopener noreferrer" target="_blank">Back to homepage</a>
{% endblock %}
