@use 'mixins/animations';
@use 'mixins/fonts';
@use 'mixins/inputs';
@use 'mixins/messages';
@use 'mixins/buttons';
@use 'mixins/talkbox';
@use 'mixins/swiperBox';
@use 'mixins/boxes';
@use 'mixins/info';
@use 'mixins/userPage';
@use 'mixins/configPage';
@use 'mixins/welcome';
@use 'mixins/captcha';
@use 'mixins/cookiesPopup';
@use 'mixins/comp';
@use 'mixins/params';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sora;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    header, main, footer {
        padding: 15px 5rem;
    }
    
    header {
        @extend %sideBySide;
        flex-wrap: wrap;
        background-image: linear-gradient(#c0c0c0, #fff);
    }
    
    footer {
        background-color: params.$white;
        color: #4e4e4e;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .logo {
        @extend %sideBySide;
        flex-wrap: wrap;
    }

    .login-area {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}