{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block main %}
    <div class="captcha-area">
        <div class="box captcha-box">
            <p class="captcha-invalid message message-error">Invalid answer</p>

            <h1 class="captcha-title">Are you human?</h1>
            <p class="captcha-subtitle">In order to log into your account, please solve the following problem: </p>
            <p class="captcha-math">7x * 7y = (91y, -7x) + = -21 / 42z</p>

            <input type="text" placeholder="Your answer: " maxlength="20" class="captcha-response">
            <input type="submit" class="header-button submit-response-button" value="Submit Answer">
            
        </div>
    </div>

    <div class="box login-area">
        <div class="login-left">
            <h1><i class="fa fa-lock" aria-hidden="true"></i> Login</h1>
            <p class="auth-text">Please enter your email and password, and fill out the captcha when prompted.</p>
    
            <div class="messages">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for c, m in messages %}
                            <p class="message message-error">{{ m }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
    
            <form action="{{ url_for('views.login') }}" method="POST" class="signinform">
                <label for="email">Email: </label>
                <input type="text" name="email" id="email" placeholder="Email: " required>
    
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" placeholder="Password: " required>
    
                <input type="submit" class="header-button" value="Log in">
            </form>
        </div>
        
        <div class="login-right">
            <img src="{{ url_for('static', filename='img/phone-call-icon.svg') }}" width="128" height="128" alt="Phone icon">

            <div>
                <h1><i class="fa fa-phone" aria-hidden="true"></i> New phone, <span class="orange">who</span> dis?</h1>
                <p class="login-right-text">If you are accessing Updog bank from a mobile phone, we recommend you download our mobile app. If you are new to the Updog bank, we recommend you call our toll free number in order to register an account.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block specificjs %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
