{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block main %}

<div class="info-header">
    <h1 class="slogan"><i class="fa fa-file-text" aria-hidden="true"></i> Privacy Policy</h1>
    <p class="slogan-subtitle">In order to use Updog, we will collect all your banking data.</p>
</div>

<div class="info-box">
    {% autoescape off %}
        {{ md }}
    {% endautoescape %}
</div>
{% endblock %}